    <material-tabs selected="selectedIndex" noink>
        <material-tab>
          <material-tab-label>Toast</material-tab-label>
          <material-button ng-click="toastIt()">
            Simple Toast
          </material-button>
        </material-tab>
        <material-tab label="Dialog">
          <material-button ng-click="dialog($event)">
              Open a Dialog
          </material-button>
        </material-tab>
        <material-tab label="Form">
        <material-input-group fid="i6" class="material-input-group-theme-orange ng-isolate-scope">
          <label for="i6">Description</label><input id="i6" type="text" ng-model="data.description" class="ng-pristine ng-valid ng-touched">
        </material-input-group>
        </material-tab>
        <material-tab label="Content">
        <material-content>
<p>

Qui utamur tacimates quaestio ad, quod graece omnium ius ut. Pri ut vero debitis interpretaris, qui cu mentitum adipiscing disputationi. Voluptatum mediocritatem quo ut. Fabulas dolorem ei has, quem molestie persequeris et sit.
</p>
<p>
Fastidii efficiendi no vis, autem aeterno malorum an quo. Per et meis necessitatibus, ex eam option bonorum dissentiet. Usu ei nobis partem constituto, sensibus mediocrem in est. Eu illum efficiantur his. Ex tota erant aperiri vis, altera nominati an sea, sed et totao nostro.
</p>
<p>

Id utinam nullam voluptaria cum, meis novum doming no eum, mei ex nusquam eligendi offendit. Eu sit movet praesent persequeris, dolores lobortis ullamcorper eu vel, ea vis possit feugiat. Quo ut dictas suscipit contentiones, an quis quodsi sanctus qui. Duis iudicabit an est, te quot nonumy putant mei. Quo insolens interpretaris et, per ex illud albucius mentitum.
</p>
<p>

Eu labores invidunt eloquentiam vis. Usu vitae fastidii expetendis id. Modus soleat prompta eos ad, ea mea dolore ubique definitiones, pri no lorem audire. Vivendo lucilius pro ut, at sumo quidam legimus cum. Mentitum incorrupte ex vis.
</p>
</material-content>
        </material-tab>
    </material-tabs>