  <material-sidenav class="material-sidenav-left material-whiteframe-z2" component-id="left">
    <div ng-controller="LeftCtrl">
      <h2>Sidenav left</h2>
      <material-list>
        <material-item>
          <div class="material-tile-content ng-binding">
            Item 1
          </div>
        </material-item>
        <material-item>
          <div class="material-tile-content ng-binding">
            Item 2
          </div>
        </material-item>
      </material-list>
    </div>
  </material-sidenav>
