    <material-sidenav class="material-sidenav-left material-whiteframe-z2" component-id="left">

      <material-toolbar class="material-theme-indigo">
        <h1 class="material-toolbar-tools">Sidenav Left</h1>
      </material-toolbar>
      <material-content class="material-content-padding" ng-controller="LeftCtrl">
        <material-button ng-click="close()" class="material-button-colored" hide-md>
          Close Sidenav Left
        </material-button>
      </material-content>

    </material-sidenav>